/*  COMMONS */

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
    background-color: rgb(248,249,250);
}

aside{
    height: calc(100vh - 70px);
    width: 140px;
    position: fixed;
    bottom: 0;
    left: 0;
}

main{
    overflow: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    height: calc(100vh - 70px);
    width: calc(100% - 140px);
}
/* BG COLORS */
.bgc-sidebar{
    background-color: rgb(5,30,52);
    background-image: url(../img/sidebar-bg.png);
}

.bgc-topbar{
    background-color: rgb(27,114,232);
}
/* sidebar contents */

.sidebar_row{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
/* header contents */
.logo_sm{
    height: 3.2rem;
}

.border_none li{
    border: none;
}

.fa-bell{
    color: rgb(255,143,0);
}

.search-bar{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(229,229,229);
    margin: 0px;
}
.search-bar-input{
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(229,229,229);
}

.search-bar i{
    padding-right: 15px;
}
/* MAIN */
.ms_content{
    width: 100%;
}
.ms_button-topbar{
    font-size: .8rem;
    color: white;
    background-color:  rgb(22,91,186);
    border: none;
    border-radius: 40px;
    padding: 2px 8px;
}










